@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@600&family=Caprasimo&family=Inter:wght@300;600;900&family=Phudu:wght@800&display=swap');

*{
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Caprasimo', cursive;
    font-family: 'Phudu', cursive;
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}
/* #b8960b */
/* #105486 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #eee;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
}
body::after {
    content: "";
    background-color: #b8960b;
    position: absolute;
    width: 200px;
    height: 200px;
    right: 0;
    top: 0;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
}
body::before {
    content: "";
    background-color: #105486;
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0;
    bottom: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 100%);
}

.box {
    width: 350px;
    height: 350px;
    background-color: #105486 ;
    position: relative;
    padding: 20px ;
    border-radius: 20px;
    box-shadow: -10px 8px 20px #0000002d;
}
.box::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-color: #b8960b;
    border-top-right-radius: 20px;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
}
.box h2 {
    text-align: center;
    color: #fff;
    margin: 20px 0px;
    font-size: 32px;
}
.input-box {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 40px;
}
.input-box input {
    position: absolute;
    width: 93%;
    height: 40px;
    outline: none;
    border: 3px solid #fff;
    background-color: transparent;
    border-radius: 10px;
    padding: 0px 10px;
    font-size: 16px;
    color: #fff;
}
.input-box label {
    user-select: none;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0,-39%);
    font-size: 16px;
    color: #fff;
    padding: 4px;
    background-color: #105486;
    transition: .4s;
    pointer-events: none;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
    transform: translate(0,-35px);
    transition: .4s;
}
.subm {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 60px;
}
.subm input {
    position: absolute;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: 3px solid #b8960b;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: .4s;
}

.subm input:disabled {
    position: absolute;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: 3px solid #999;
    background-color: transparent;
    color: #999;
    font-size: 20px;
    cursor: no-drop;
    transition: .4s;
}

.claen {
    position: absolute;
    width: 100%;
    bottom: 26%;
    display: flex;
    
}

.claen img{
    position: absolute;
    width: 300px;
    /* margin-left: -10px; */
    top: -340px;
    right: 100px;
}

.claen-1 {
    position: absolute;
    width: 100%;
    bottom: 26%;
    display: flex;
}

.claen-1 img{
    position: absolute;
    width: 200px;
    top: -340px;
    left: 150px;
}

@media (min-width: 700px) and (max-width:1275px) {
    .claen img {
        display: none;
    }
    .claen-1 img {
        display: none;
    }
}


@media (min-width: 360px) and (max-width:700px) {
    body {
        min-height: 90vh;
    }
    body::before {
        width: 100px;
        height: 100px;
    }
    body::after {
        width: 100px;
        height: 100px;
    }
    .claen img {
        display: none;
    }
    .claen-1 img {
        display: none;
    }
    .box {
        width: 250px;
    }
    .box h2 {
        font-size: 24px;
    }
    .input-box input {
        width: 91%;
    }
    .subm input {
        font-size: 16px;
    }
    .subm input:disabled {
        font-size: 16px;
    }

}


@media (min-width: 0px) and (max-width:360px) {
    body::before {
        width: 100px;
        height: 100px;
    }
    body::after {
        width: 100px;
        height: 100px;
    }
    .claen img {
        display: none;
    }
    .claen-1 img {
        display: none;
    }
    .box {
        width: 220px;
    }
    .box h2 {
        font-size: 24px;
    }
    .input-box input {
        width: 90%;
    }
    .subm input {
        font-size: 16px;
    }
    .subm input:disabled {
        font-size: 16px;
    }
}