@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@600&family=Caprasimo&family=Inter:wght@300;600;900&family=Phudu:wght@800&display=swap');

*{
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Caprasimo', cursive;
    font-family: 'Phudu', cursive; 
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}
body {
    overflow-x: hidden;
}

h2 {
    /* margin: 20px; */
    font-size: 32px;
    left: 60px;
    top: -20px;
    position: absolute;
    }
    h2::first-letter {
        color: #105486;
        font-size: 36px;
    }
    
    .div-box {
        width: 100%;
        top: 150px;
        z-index: -1;
        position: relative;
        display: flex;
        padding-top: 40px;
        padding-bottom: 40px;
        justify-content: center;
        flex-wrap: wrap;
        /* background-color: #105486; */
    }
    .div-box .slide {
        width: 400px;
        height: 200px;
        box-shadow: 1px 1px 20px #e3e2e2 ; 
        border-radius: 20px;
        margin: 20px;
        position: relative;
    }
    .div-box .slide i {
        color: #b8960b;
        font-size: 42px;
        position: absolute;
        right: 20px;
        top: 40px;
    }
    .div-box .slide p {
        font-size: 16px;
        position: absolute;
        left: 20px;
        top: 46px;
        font-weight: 600;
    }
    .div-box .slide h3 {
        position: absolute;
        width:260px;
        word-wrap: break-word;
        left: 20px;
        bottom: 30%;
        font-size: 26px;
        color: #105486;
        /* font-weight: 600; */
    }
    .div-ul {
        width: 100%;
        margin-top: 140px;
        position: relative;
        display: flex;
        justify-content: center;
        
    }
    .div-ul ul {
        width: 40%;
        margin: 20px;
        box-shadow: 1px 1px 20px #e3e2e2 ; 
        border-radius: 10px;
        padding: 10px;

    }
    .div-ul ul a {
        text-decoration: none;
        color: black;
    }
    .div-ul ul li {
        padding: 20px;
        background-color: #fdfdfd;
        border-bottom: 2px solid #969695;
        position: relative;

    }
    .div-ul ul li:hover {
        background-color: #cbcbcb;
        cursor: pointer;
    }
    .div-ul ul li i {
        padding: 6px;
        box-shadow: 1px 1px 20px #e3e2e2 ; 
        position: absolute;
        top: 50%;
        transform: translateY(-48%);
        font-size: 38px;
        border-radius: 50%;
        color: #b8960b;
    }
    .div-ul ul li p {
        font-size: 20px;
        font-weight: 600;
        margin-left: 70px;
    }
    .div-ul ul li .date {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0,-50%);
    }
    .div-ul .div-image {
        width: 50%;
        position: relative;
    }
    .div-ul .div-image img {
        width: 36%;
        position: absolute;
        top:50%; 
        left: 50%;
        transform: translate(-50%,-50%);
    }
    @media (min-width: 600px) and (max-width:900px) {
        .div-ul .div-image  {
            display: none;
        }
        .div-ul ul {
            width: 100%;
        }
    }
    @media (min-width: 0px) and (max-width:600px) {
        .div-ul .div-image  {
            display: none;
        }
        .div-ul ul {
            width: 100%;
        }
        .div-ul ul li .date {
            right: 10px;
            top: 10px;
            font-size: 10px;
        }
        .div-ul ul li i {
            left: 10px;
        }
        .div-ul ul li p {
            margin-left: 50px;
        }
    }
